<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ site.title_tag_text }}</title>
  <link href='//fonts.googleapis.com/css?family=Roboto:400,400italic,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ site.baseurl }}/css/normalize.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/syntax.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/solo.css">
{% include head.html %}
</head>
<body>
  <div class="container">
    <div id="header">
	  <div id="logo"><img src="{{ site.baseurl }}/images/jba_logo_2015.png" alt="John Brewster Architect"></div>
	  <div id="title"><span id="titlename">John Brewster</span> B.Arch(Hons) FRIAS RIBA</div>
	</div>
	<hr>
    <div id="sidebar">
      <ul class="sidebar-nav">
        <li><a href="{{ site.baseurl }}/about">About</a></li>
        <li><a href="{{ site.baseurl }}/services">Services</a></li>
	<!-- <li><a href="{{ site.baseurl }}/projects">Projects</a></li> -->
        <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
      </ul>
    </div>
    <div id="main">
      {{ content }}
    </div>
  </div>
  {% include scripts.html %}
</body>
</html>
