<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ site.title_tag_text }}</title>
  <link href='//fonts.googleapis.com/css?family=Roboto:400,400italic,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ site.baseurl }}/css/normalize.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/syntax.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/solo.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="js/galleria/galleria-1.4.2.js"></script>
  <script src="js/galleria/plugins/facebook/galleria.facebook.js"></script>
  <script>
	Galleria.loadTheme('js/galleria/themes/classic/galleria.classic.min.js');
	Galleria.run('#galleria', {
	 facebook: 'album:885447591539689',
	 width: 745,
	 height: 550,
	 lightbox: true,
	 facebookOptions: {
	   max: 30, // optional override for limit of 40 photos on an album
	   facebook_access_token: '1023842027639418|5Q9gmuIRmoFH5utNa-KTYki9EDI'
	 }
	});
	</script>
{% include head.html %}
</head>
<body>
  <div class="container">
    <header>
	  <div id="logo"><a href="http://johnbrewster.net/"><img src="{{ site.baseurl }}/images/jba_logo_2015.png" alt="John Brewster Architect"></a></div>
	  <div id="title"><span id="titlename">John Brewster</span> <span id="titleletters">B.Arch(Hons) FRIAS RIBA<span id="titleletters"></div>
	</header>
	<hr>
    <nav>
      <ul>
	    <a href="http://johnbrewster.net/"><li>Home</li></a>
        <a href="{{ site.baseurl }}/about"><li>About</li></a>
        <a href="{{ site.baseurl }}/services"><li>Services</li></a>
	<!-- <a href="{{ site.baseurl }}/projects"><li>Projects</li></a> -->
        <a href="{{ site.baseurl }}/contact"><li>Contact</li></a>
		<a href="http://www.rias.org.uk/directory/practices/john-brewster-architect/" target="_blank"><img src="{{ site.baseurl }}/images/rias_logo.png" alt="RIAS Profile"></a>

      </ul>
    </nav>
    <main>
      {{ content }}
    </main>
  </div>
  <div id="galleria"></div>
  <footer><small>Site by <a href="http://webnette.ch">WebNetTech</a></small></footer>
  {% include scripts.html %}
</body>
</html>
