<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ site.title_tag_text }}</title>
  <link rel="canonical" href=" { { site.url } }{ { page.url } }" />
  <link href='//fonts.googleapis.com/css?family=Roboto:400,400italic,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ site.baseurl }}/css/normalize.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/syntax.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/solo.css">
  <script type="text/javascript">
    var host = "johnbrewster.net";
    if ((host == window.location.host) && (window.location.protocol != "https:"))
        window.location.protocol = "https";
</script>
{% include head.html %}
</head>
<body>
  <div class="container">
    <header>
	  <div id="logo"><a href="https://johnbrewster.net/"><img src="{{ site.baseurl }}/images/jba_logo_2015.png" alt="John Brewster Architect"></a></div>
	  <div id="title"><span id="titlename">John Brewster</span> <span id="titleletters">B.Arch(Hons) FRIAS RIBA<span id="titleletters"></div>
	</header>
	<hr>
    <nav>
      <ul>
	    <a href="https://johnbrewster.net/"><li>Home</li></a>
        <a href="{{ site.baseurl }}/about"><li>About</li></a>
        <a href="{{ site.baseurl }}/services"><li>Services</li></a>
	<!-- <a href="{{ site.baseurl }}/projects"><li>Projects</li></a> -->
        <a href="{{ site.baseurl }}/contact"><li>Contact</li></a>
	<a href="http://www.rias.org.uk/directory/practices/john-brewster-architect/" target="_blank"><img src="{{ site.baseurl }}/images/rias_logo.png" alt="RIAS Profile"></a>

      </ul>
    </nav>
    <main>
      {{ content }}
    </main>
  </div>
  <footer><small>Site by WebNetTech</small></footer>
  {% include scripts.html %}
</body>
</html>
