<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ site.title_tag_text }}</title>
  <link rel="canonical" href=" { { site.url } }{ { page.url } }" />
  <link href='//fonts.googleapis.com/css?family=Roboto:400,400italic,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ site.baseurl }}/css/normalize.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/syntax.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/solo.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://johnbrewster.net/js/galleria/galleria-1.4.2.js"></script>
  <script src="https://johnbrewster.net/js/galleria/plugins/facebook/galleria.facebook.js"></script>
  <script type="text/javascript">
    var host = "johnbrewster.net";
    if ((host == window.location.host) && (window.location.protocol != "https:"))
        window.location.protocol = "https";

	Galleria.loadTheme('https://johnbrewster.net/js/galleria/themes/classic/galleria.classic.min.js');
	
	Galleria.run('#galleria-ext-conv', {
	 facebook: 'album:885447591539689',
	 width: 745,
	 height: 550,
	 lightbox: true,
	 facebookOptions: {
	   max: 40, // optional override for limit of 40 photos on an album
	   facebook_access_token: '1023842027639418|5Q9gmuIRmoFH5utNa-KTYki9EDI'
	 }
	});
	
	Galleria.run('#galleria-residential', {
	 facebook: 'album:885455224872259',
	 width: 745,
	 height: 550,
	 lightbox: true,
	 facebookOptions: {
	   max: 40, // optional override for limit of 40 photos on an album
	   facebook_access_token: '1023842027639418|5Q9gmuIRmoFH5utNa-KTYki9EDI'
	 }
	});
	
	Galleria.run('#galleria-commercial', {
	 facebook: 'album:885455844872197',
	 width: 745,
	 height: 550,
	 lightbox: true,
	 facebookOptions: {
	   max: 40, // optional override for limit of 40 photos on an album
	   facebook_access_token: '1023842027639418|5Q9gmuIRmoFH5utNa-KTYki9EDI'
	 }
	});
	
	Galleria.run('#galleria-new-build', {
	 facebook: 'album:885444804873301',
	 width: 745,
	 height: 550,
	 lightbox: true,
	 facebookOptions: {
	   max: 40, // optional override for limit of 40 photos on an album
	   facebook_access_token: '1023842027639418|5Q9gmuIRmoFH5utNa-KTYki9EDI'
	 }
	});
	
    </script>
{% include head.html %}
</head>
<body>
  <div class="container">
    <header>
	  <div id="logo"><a href="http://johnbrewster.net/"><img src="{{ site.baseurl }}/images/jba_logo_2015.png" alt="John Brewster Architect"></a></div>
	  <div id="title"><span id="titlename">John Brewster</span> <span id="titleletters">B.Arch(Hons) FRIAS RIBA<span id="titleletters"></div>
	</header>
	<hr>
    <nav>
      <ul>
        <a href="http://johnbrewster.net/"><li>Home</li></a>
        <a href="{{ site.baseurl }}/about"><li>About</li></a>
        <a href="{{ site.baseurl }}/services"><li>Services</li></a>
        <a href="{{ site.baseurl }}/gallery"><li>Gallery</li></a>
	<a href="{{ site.baseurl }}/links"><li>Links</li></a>
        <a href="{{ site.baseurl }}/contact"><li>Contact</li></a>
	<a href="http://www.rias.org.uk/directory/practices/john-brewster-architect/" target="_blank"><img src="{{ site.baseurl }}/images/rias_logo.png" alt="RIAS Profile"></a>
      </ul>
    </nav>
    <main>
      <h2>Conversions and Extensions</h2>
      <div class="gallery" id="galleria-ext-conv"></div>
      
      <h2>Residential Developments</h2>
      <div class="gallery" id="galleria-residential"></div>
      
      <h2>Commercial Projects</h2>
      <div class="gallery" id="galleria-commercial"></div>
      
      <h2>New Build Houses</h2>
      <div class="gallery" id="galleria-new-build"></div>
    </main>
  </div>
  <footer><small>Site by WebNetTech</small></footer>
  {% include scripts.html %}
</body>
</html>
